@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .click-effect {
        @apply transition-all duration-150 ease-out shadow-[0px_5px_20px_0px_rgba(0,0,0,0.75)];

        &:active {
            @apply shadow-[0px_2px_10px_0px_rgba(0,0,0,0.6)] duration-75 ease-in;
        }
    }
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

*:focus {
    outline: none;
}
